#layout-cart {
    margin: 3rem 0;
}

.title-cart {
    width: max-content;
    margin: 0 auto;
    padding: 1rem;
    border-bottom: 2px solid var(--black);
}

.item-cart-product {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.item-cart-product .item {
    text-align: left;
    position: relative;
    padding-top: 3%;
    padding-right: 2rem;
}

.item-cart-product .item .nameProduct {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: bold;
}

.item-cart-product .item .price {
    float: right;
    font-size: 1.1rem;
    font-weight: 500;
}

.item-cart-product .item p {
    margin: .3rem 0;
}

.item-cart-product .item small {
    display: none;
}

.item-cart-product.error .item small {
    color: red;
    display: block;
}

.item-cart-product .item .quantity button {
    width: 1.8rem;
    height: 1.8rem;
    background-color: var(--white);
    border: 1px solid gray;
    outline: none;
    color: gray;
}

.item-cart-product .item .quantity span {
    padding: .15rem 1.5rem;
    background-color: rgba(0, 0, 0, .1);
}

.item-cart-product .item .remove {
    position: absolute;
    top: 21%;
    right: 4%;
    font-size: 1.3rem;
    color: red;
}

.box-total {
    text-align: right;
    padding: 1rem 3rem;
    font-weight: 600;
}

.box-total .total-price {
    font-size: 1.8rem;
    font-weight: 800;
    margin-left: 1rem;
}

.cart-btn {
    text-align: right;
    padding-right: 3rem;
}

.cart-btn button {
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    border: none;
}

.cart-btn button:first-child {
    background-color: #f7c111;
}

.cart-btn button:last-child {
    background-color: var(--primary-color);
}

.cart-btn button a {
    color: white;
}